//------------------------------------------------------------------------------
// Dev-time helpers
// Enable if needed & disable before committing.

$__DEBUG_DRAW__: false;

//------------------------------------------------------------------------------
// Color Palette

$midnight: #292828;
$black: #4B4B4B;
$grey-dark: #515150;
$grey-mid: #949494;
$grey-light: #D8D8D8;
$grey-ghost: #FAFAFA;

$blue: #5A5EF8;
$coral: #E14965;
$white: #F4F4FF;

$blueDark: #1F2090;

$primary: $blue;
$secondary: $coral;
$tertiary: $white;

$colorMap: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $white,
  white: $white,
  black: $black,
  greyDark: $grey-dark,
  greyMid: $grey-mid,
  greyLight: $grey-light,
  greyGhost: $grey-ghost,
  blue: $blue,
  coral: $coral,
  blueDark: $blueDark,
);

//------------------------------------------------------------------------------
// Font Config

$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
$font-family-headline: 'poppins', $font-system;
$font-family-body: 'montserrat', $font-family-headline;

$weight-xlight:   100;
$weight-light:    300;

$weight-normal:   300;
$weight-regular:  $weight-normal;

$weight-medium:   500;
$weight-bold:     600;
$weight-black:    700;
$weight-blackout: 900;

$weightMap: (
  xlight: $weight-xlight,
  light: $weight-light,
  normal: $weight-normal,
  regular: $weight-regular,
  medium: $weight-medium,
  bold: $weight-bold,
  black: $weight-black,
  blackout: $weight-blackout
);

// Typography
$font-size-base: 1rem;

//------------------------------------------------------------------------------
// Spacing vars

$module-offset: 6.25vw;
$mobile-module-offset: 20px;


//------------------------------------------------------------------------------
// Bootstrap Theming


// --- Color Overrides

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$body-bg: $white;
$body-color: $black;

$yiq-text-light: $white;
$yiq-text-dark: $grey-dark;


// --- Type Overrides
$font-family-base: $font-family-sans-serif;
