@import "./NavItem.scss";

$_nav-pad: 10px 0;

%mobile-nav {
  @include media("<desktop") {
    position: absolute;
    z-index: 5;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    align-items: flex-start;
    justify-content: center;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      width: calc(100vw - 20px);
      height: 100%;
      background: $white;
      border: 1px solid $grey-light;
      border-radius: 6px;
      box-shadow: 1px 4px 10px rgba($black, 0.5);
      z-index: -1;
    }

    .flex {
      flex: 0;
    }

    .nav-item:last-child {
      width: calc(100% + 20px);
      margin-left: -10px;
      margin-bottom: -20px;
      background: $grey-ghost;

      a {
        justify-content: flex-start;
        padding: 20px;
        border: none;

        &:after {
          content: '→';
          margin-left: 5px;
        }
      }
    }
  }
}

.Navigation {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 99999;
  padding: $_nav-pad;


  &__logo-link {
    z-index: 99;
    @include media("<tablet") {
      margin-left: 20px;
    }
  }


  &__logo {
    margin-right: 20px;
    width: 150px;

    &:last-child:not(:only-child) {
      display: none;
    }
  }

  &__burger {
    position: relative;
    display: none;
    width: 60px;
    height: 45px;
    z-index: 99;
    margin-right: 10px;
    transform: scale(0.5);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: $grey-dark;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
        width: 40px;
      }

      &:nth-child(2) {
        top: 18px;
      }

      &:nth-child(3) {
        top: 36px;
        left: 20px;
        width: 40px;
      }
    }

    .Navigation.mobile-open & span {
      &:nth-child(1) {
        top: 18px;
        width: 100%;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 18px;
        width: 100%;
        left: 0;
        transform: rotate(-135deg);
      }
    }

    @include media("<desktop") {
      display: block;
    }
  }

  & > .container > .row {
    justify-content: space-between;
    @include media(">tablet") {
      align-items: center;
    }
  }

  &--absolute {
    position: absolute;
  }

  &--mainnav {
    position: absolute;

    &.mobile-open {
      position: fixed;
    }

    .Navigation__logo-link {
      @include media("<=tablet") {
        max-width: 50%;
      }
    }

    .Navigation__logo-link {
      & > img:first-child:not(:only-child) {
        display: none;
      }
      & > img:last-child:not(:only-child) {
        display: block;
      }
    }
  }

  &--subnav {
    @include media("<=tablet") {
      display: none;
    }
    
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    padding: 0;
    z-index: 2;
    background: $blue;
    border-bottom: none;
    box-shadow: 0 1px 1px rgba($grey-mid, 0.25);
    transition: transform 0.2s ease-in;

    .Navigation__burger {
      display: none;
    }

    .Navigation__logo {
      width: 150px;
      margin-right: 0;
    }

    & > .container > .row {
      @include media("<desktop") {
        flex-wrap: nowrap;
      }
    }

    .row {
      justify-content: center;
    }

    .nav-item:not(.dropdown) {
      display: flex;
    }

    .nav {
      flex-wrap: nowrap;
      
      @include media("<desktop") {
        flex-wrap: nowrap;
        overflow: scroll;
      }
      @include media(">=desktop") {
        justify-content: flex-end;
        flex-shrink: 0;
      }

      li {
        flex-shrink: 0;
      }
    }

    .nav-item a {
      color: $white;
      font-size: 0.8rem;
      font-weight: $weight-light;
    }

    a >.back-to-top {
      display: inline; 
      font-size: 0.8rem; 
      font-weight: 300;
    }
  }

  .nav-trigger {
    height: 60px;
    width: 60px;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    transform: scale(0.5);
    transform-origin: center;

    @include media(">=tablet", "<desktop") {
      top: -30px;
    }

    span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: $white;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
        width: 40px;
      }

      &:nth-child(2) {
        top: 18px;
      }

      &:nth-child(3) {
        top: 36px;
        left: 20px;
        width: 40px;
      }
    }

    @include media("<desktop") {
      display: block;
    }
  }

  &.mobile-open .nav-trigger span {
    background: $white;
    &:nth-child(1) {
      top: 18px;
      width: 100%;
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    &:nth-child(3) {
      top: 18px;
      width: 100%;
      left: 0;
      transform: rotate(-135deg);
    }
  }

  &.mobile-closed:not(&--subnav) {
    .JoinedNav {
      display: none;
    }
  }

  &:not(&--subnav) .nav {
    @extend %mobile-nav;
    flex-grow: 1;    
  }
}

.JoinedNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: $module-offset * 2 0 $module-offset * 0.5;
  background: rgba($black, 0.9);

  .main-nav ul {
    width: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(10px);
  }

  .nav-link .Btn {
    justify-content: flex-start;
    padding: 0;
    color: $white;
    font-family: $font-family-headline;
    text-transform: uppercase;
    font-weight: $weight-blackout;
    font-size: 30px;

    @include media(">=tablet") {
    font-size: 50px;
    }

    &:before {
      margin-right: 10px;
    }
  }

  .nav-link {
    padding: 0;

    .nav-item {
      .Btn__contents {
        position: relative;
      }

      .Btn__contents:after {
        content: '';
        position: absolute;
        width: 0;
        height: 7px;
        top: 50%;
        left: -70px;
        transform: translateY(-50%);
        transition: all 0.2s ease-out;
      }

      &:hover,
      &.nuxt-link-exact-active {
        .Btn__contents:after {
            width: calc(100% + 80px);
            transition: all 0.2s ease-in;
          }
        .Btn__label {
          opacity: 0.5;
        }
      }
    }

    @for $index from 1 through 10 {
      &:nth-child(#{$index}) {
        .Btn .Btn__contents:after {
          @if $index == 1 {
            background: #F24766;
          } @else if $index == 2 {
            background: #CA4889;
          } @else if $index == 3 {
            background: #8348C7;
          } @else if $index == 4 {
            background: #5452D2;
          } @else {
            background: $white;
          }
        }

        .Btn:before {
          min-width: 40px;

          @include media(">=tablet") {
            min-width: 70px;
          }

          text-align: left;
          content: '0' + $index;
          @if $index == 1 {
            color: #F24766;
          } @else if $index == 2 {
            color: #CA4889;
          } @else if $index == 3 {
            color: #8348C7;
          } @else if $index == 4 {
            color: #5452D2;
          } @else {
            color: $white;
          }
        }
      }
    }
  }
}
